@charset "utf-8";

body {
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
}

.active-menu {
	background-color: #4e4e4e;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.navbar {
    margin: 0px
}

.navbar-brand > img {
    margin-top: -10px;
	height: 40px;
}

#baseCarte {
    position: relative;
    width: 100vw;
}

#baseCarte img {
    z-index: 0;
    width: 100%;
}

.pointVille {
    z-index: 1;
    position: absolute;
    width: 0; 
    height: 0; 
    border-color: red; 
    border-radius: 50%;
    border-style: solid; 
    border-width: 5px; 
    transition : border-width 0.3s, margin-top 0.3s, margin-left 0.3s;
 }

.pointVille:hover {
    border-width : 20px;
    margin-top: -15px;
    margin-left: -15px
}

.hover {
    border-width : 20px;
    margin-top: -15px;
    margin-left: -15px
}

#slider {
	width:5000px;
}

#cityNotFound {
    position : absolute;
}
