<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="WeatherBigBrother">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewWeatherBigBrother</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="libs/jquery-ui.min.css" /> 
    <link rel="stylesheet" type="text/css" href="libs/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
</head>

<body ng-controller="MapController">

    <!--Loader attente utilisateur-->
    <div id="loader-wrapper" class="ng-cloak" ng-if="loading">
        <div id="loader"></div> 
    </div>
    <!--! Loader attente utilisateur-->

    <!--Barre de navigation-->
    <nav class="navbar navbar-default">
    	<div class="container-fluid">
        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="images/favicon.png" /></a>
        	</div>
            <div class="collapse navbar-collapse" id="navbar-1">	
                <ul class="nav navbar-nav">
                    <li data-slider="0" class="active"><a href="#"><i class="fa fa-map-marker"></i> Carte</a></li>
                    <li data-slider="1"><a href="#"><i class="fa fa-list"></i> Liste</a></li>
                    <li data-slider="2"><a href="#"><i class="fa fa-code"></i> A propos du projet</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input ng-blur="getWeatherForCityTyped();" id="cityAutocomplete" type="text" placeholder="Ville..." class="form-control" />
                    </div>
                </form>
            </div>    
        </div>
    </nav>
    <!--!Barre de navigation-->
    
    <!--Slider contenu de page-->
    <div id="wrapperHidden">
        <div id="slider">
            <!--Carte du monde-->
            <div class="pageSlide" id="baseCarte">
                <div id="cityNotFound" class="alert alert-warning ng-cloak" role="alert" ng-if="error">
                    Erreur : Le serveur ne répond pas ou la ville est introuvable dans notre base de données...
                </div>
                <img src ="images/MAPOK.jpg" />
                <div ng-repeat="point in points" ng-click="getWeatherForCity(point.city);" class="pointVille" style="top: {{point.top}}%; left: {{point.left}}%;"></div>
            </div>
            <!--!Carte du monde-->

            <!--Liste des villes-->
            <div class="pageSlide">            
                <div class="col-md-offset-5 col-md-2" id="rechercheListe">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Recherchez une ville ..." ng-model="recherche" >
                    </div>
                </div>

                <div class="col-md-offset-4 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste des villes présentes sur la carte
                        </div>
                        <table class="table">
                            <tr>
                                <th ng-click="selectOrderingField('city')">
                                    Ville
                                    <i class="fa" ng-class="{'fa-chevron-up': ordering.reverse, 'fa-chevron-down': !ordering.reverse}" ng-if="ordering.field === 'city'"></i>
                                </th>
                            </tr>
                            <tr ng-repeat="point in points | filter: recherche | orderBy: ordering.field : ordering.reverse" >
                                <td>{{point.city}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--Liste des villes-->
            
            <!--A propos-->
            <div class="pageSlide">
                <div class="col-md-offset-2 col-md-8">
                    <h1>WeatherBigBrother <small>: Projet EPF mars-avril 2015</small></h1>
                    <h3>Développeurs : <small>Alexandre RABASSE et Pierre MALGORN</small></h3><br />
                    <h5>Vous pouvez consulter le GitHub de ce projet à l'adresse suivante : <a href="https://github.com/pierremalgorn/NewWeatherBigBrother">https://github.com/pierremalgorn/NewWeatherBigBrother</a></h5><br /><br />
                    <h3 class='text-center'>Merci de votre visite !</h3>
                </div>
            </div>
            <!--!A propos-->
        </div>   
        <!-- !Slider contenu de page-->
    </div>
 

    
<!-- Modal weather -->

<div class="modal fade" id="modalWeatherForCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{cityWeather.name}} - {{cityWeather.sys. country}}</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <img ng-src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png"  /> 
                </div>
                <div class="row">
                  {{cityWeather.weather[0].description}}
                </div>
              </div>
              <div class="col-lg-4">
                {{toCelsius(cityWeather.main.temp);}} °C
              </div>
              <div class="col-lg-4">
                <img id="windDirection" src="images/wind.png" />
                {{toKMH(cityWeather.wind.speed);}} km/h 
              </div>    
          </div>
          <div class="row" id="divGraphNextHours">
            Températures à venir (°C)
          </div>
          <div class="row">
            <canvas id="graphNextHours" class="canvas"></canvas>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info moreInfo" ng-click="furtherInformations();">Prévisions pour {{cityWeather.name}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal forecast-->

<div class="modal fade" id="modalWeatherFurtherInformations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{cityForecast.city.name}} - {{cityForecast.city.country}}</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-4" id="today">
                <div class="row">
                  <h3>Actuellement</h3>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <img ng-src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png"  />
                  </div>
                  <div class="col-lg-4">
                    {{toCelsius(cityWeather.main.temp);}} °C
                  </div>
                  <div class="col-lg-4">
                    {{toKMH(cityWeather.wind.speed);}} km/h 
                  </div>
                </div>
              </div> <!-- today --> 
             <div class="col-lg-2 furtherDay" id="nextDay">
                <div class="row">
                  <h4>{{furtherDays[0]}}</h4>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <img id="Img1" src="#">
                  </div>
                  <div class="col-lg-6">
                    <p class="temperature">{{furtherTemp[0]}} °C</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 furtherDay">
                <div class="row">
                  <h4>{{furtherDays[1]}}</h4>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <img id="Img2" src="#">
                  </div>
                  <div class="col-lg-6">
                    <p class="temperature">{{furtherTemp[1]}} °C</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 furtherDay">
                <div class="row">
                  <h4>{{furtherDays[2];}}</h4>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <img id="Img3" src="#"> 
                  </div>
                  <div class="col-lg-6">
                    <p class="temperature">{{furtherTemp[2]}} °C</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 furtherDay">
                <div class="row">
                  <h4>{{furtherDays[3];}}</h4>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <img id="Img4" src="#">         
                  </div>
                  <div class="col-lg-6">
                    <p class="temperature">{{furtherTemp  [3]}} °C</p>
                  </div>
                </div>  
              </div>
          </div>
          <div class="row" id="graphs">
            <div class="row">
              <div class="col-lg-6"><h4>Températures à venir (°C)</h4></div>
              <div class="col-lg-6"><h4>Pression (hPa)</h4></div>
            </div>
            <div class="row">
              <div class="col-lg-6" id="divGraph">
                <canvas id="graphTmp" class="canvas"></canvas>
              </div>
              <div class="col-lg-6">
                <canvas id="graph" class="canvas"></canvas>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    

</body>

<script src="libs/jquery-2.1.3.min.js"></script>
<script src="libs/angular.min.js"></script>    
<script src="libs/jquery-ui.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="js/Chart.js"></script>
<script src="js/custom.js"></script>
<script src="js/angularScripts.js"></script>
<script src="js/angularServices.js"></script>

</html>
